body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup__close {
	top: 0;
	right: 0;
	display: flex;
	width: toRem(35);
	height: toRem(35);
	position: absolute;
	align-items: center;
	justify-content: center;
	transform: translate(0px, -100%);
	transition: background-color 0.3s;
	background-color: rgba($orangeColor, 0.75);
	border-radius: toRem(5) toRem(5) toRem(0) toRem(0);
	@media (any-hover: hover) {
		&:hover {
			background-color: rgba($orangeColor, 1);
		}
	}
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #eee;
	padding: 20px;
	width: 100%;
	max-width: 900px;
	border-radius: 20px;
	.lock & {
		visibility: visible;
	}
}
// Popup Video
.video-popup {
	padding: 0;
	background-color: transparent;
	// .video-popup__body
	&__body {
		border-radius: toRem(15) toRem(0) toRem(15) toRem(15);
		@media (max-width: $mobile) {
			border-radius: toRem(5) toRem(0) toRem(5) toRem(5);
		}
	}
}
