// Button
.button {
	color: #fff;
	font-weight: 700;
	line-height: 168%;
	align-items: center;
	display: inline-flex;
	min-height: toRem(43);
	border-radius: toRem(5);
	letter-spacing: -0.03em;
	justify-content: center;
	padding: toRem(0) toRem(27);
	background-color: $orangeColor;
	transition: background-color 0.3s;
	@media (any-hover: hover) {
		&:hover {
			background-color: $blueColor;
		}
	}
	&--fw {
		width: 100%;
	}
}
