// Button
.button {
	color: #fff;
	font-weight: 700;
	line-height: 168%;
	align-items: center;
	display: inline-flex;
	border-radius: toRem(5);
	letter-spacing: -0.03em;
	justify-content: center;
	padding: toRem(0) toRem(27);
	background-color: $orangeColor;
	transition: background-color 0.3s;
	box-shadow:
		rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
		rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	@include adaptiveValue("font-size", 14, 12);
	@include adaptiveValue("min-height", 43, 38);
	@media (any-hover: hover) {
		&:hover {
			background-color: $blueColor;
		}
	}
	&--fw {
		width: 100%;
	}
}
