// Checkbox
.checkbox {
	position: relative;
	&:not(:last-child) {
		margin-bottom: em(5);
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:checked + .checkbox__label:before {
			color: #fff;
			background: $blueColor;
			border: 1px solid $blueColor;
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		position: relative;
		display: inline-flex;
		@include adaptiveValue("gap", 10, 8);
		&:before {
			width: 20px;
			content: "✔";
			height: 20px;
			display: flex;
			flex: 0 0 20px;
			padding-left: 1px;
			color: transparent;
			align-items: center;
			border: 1px solid #111;
			justify-content: center;
			border-radius: toRem(4);
			@include adaptiveValue("margin-top", 0, 3);
		}
	}
	// .checkbox__text
	&__text {
		line-height: 125%;
		align-self: center;
		@include adaptiveValue("font-size", 16, 14);
	}
}
