//--------------------------------------------------------------
//<FORM>
// Сніппет (HTML):
.form {
	display: grid;
	@include adaptiveValue("gap", 25, 20);
	// .form__fieldset
	&__fieldset {
		display: grid;
		@include adaptiveValue("gap", 20, 15);
		p {
			line-height: 145%;
			@include adaptiveValue("font-size", 14, 12);
			a {
				display: inline;
				color: $blueColor;
				@media (any-hover: hover) {
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	// .form__extra
	&__extra {
		display: grid;
		@include adaptiveValue("gap", 20, 15);
		&.extra-disable {
			display: none;
		}
	}
	// .form__labels
	&__labels {
		display: grid;
		align-items: start;
		@include adaptiveValue("gap", 20, 15);
		@media (min-width: toEm(1024)) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .form__label
	&__label {
		.form__error {
			color: red;
			line-height: 125%;
			margin-top: toRem(7);
			@media (max-width: $mobileSmall) {
				font-size: toRem(12);
			}
		}
	}
	// .form__span
	&__span {
		display: flex;
		font-size: toRem(16);
		@include adaptiveValue("font-size", 16, 14);
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
		&::after {
			color: red;
			content: "*";
		}
	}
}
//</FORM>
//--------------------------------------------------------------
// <BUTTONS>
// Сніппет (HTML): btn
@import "button";
//--------------------------------------------------------------
// <INPUTS>
// Сніппет (HTML): inp
@import "input";
//--------------------------------------------------------------
// <CHECK>
// Сніппет (HTML): chk
@import "checkbox";
//--------------------------------------------------------------
// <RADIO>
// Сніппет (HTML): opt
// @import "radio";
//--------------------------------------------------------------
// <SELECT>
// Сніппет (HTML): sel
@import "select";
//--------------------------------------------------------------
// <RATING>
// Сніппет (HTML): rating
// @import "rating";
//--------------------------------------------------------------
// <QUANTITY>
// Сніппет (HTML): qa
// @import "quantity";
//--------------------------------------------------------------
// <RANGE>
// Сніппет (HTML):
// @import "range";
//--------------------------------------------------------------
// <CALENDAR>
// Сніппет (HTML):
// @import "datepicker";
//--------------------------------------------------------------
