//--------------------------------------------------------------
//<FORM>
// Сніппет (HTML):
.form {
	display: grid;
	gap: toRem(25);
	// .form__main
	&__main {
		display: grid;
		@include adaptiveValue("gap", 20, 15);
	}
	// .form__label
	&__label {
		.form__error {
			color: red;
			line-height: 125%;
			margin-top: toRem(7);
			@media (max-width: $mobileSmall) {
				font-size: toRem(12);
			}
		}
	}
	// .form__span
	&__span {
		display: flex;
		font-size: toRem(16);
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
		&::after {
			color: red;
			content: "*";
		}
		@media (max-width: $mobileSmall) {
			font-size: toRem(14);
		}
	}
	// .form__input
	&__input {
	}
	// .form__labels
	&__labels {
		display: grid;
		align-items: start;
		@include adaptiveValue("gap", 20, 15);
		@media (min-width: toEm(1024)) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .form__select
	&__select {
	}
	// .form__bottom
	&__bottom {
		display: grid;
		@include adaptiveValue("gap", 20, 15);
	}
	// .form__text
	&__text {
		line-height: 145%;
		a {
			color: $blueColor;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	// .form__button
	&__button {
		&.button {
			padding: 0;
		}
	}
}
//</FORM>
//--------------------------------------------------------------
// <BUTTONS>
// Сніппет (HTML): btn
@import "button";
//--------------------------------------------------------------
// <INPUTS>
// Сніппет (HTML): inp
@import "input";
//--------------------------------------------------------------
// <CHECK>
// Сніппет (HTML): chk
// @import "checkbox";
//--------------------------------------------------------------
// <RADIO>
// Сніппет (HTML): opt
// @import "radio";
//--------------------------------------------------------------
// <SELECT>
// Сніппет (HTML): sel
@import "select";
//--------------------------------------------------------------
// <RATING>
// Сніппет (HTML): rating
// @import "rating";
//--------------------------------------------------------------
// <QUANTITY>
// Сніппет (HTML): qa
// @import "quantity";
//--------------------------------------------------------------
// <RANGE>
// Сніппет (HTML):
// @import "range";
//--------------------------------------------------------------
// <CALENDAR>
// Сніппет (HTML):
// @import "datepicker";
//--------------------------------------------------------------
