// <SELECT>
// Сніппет (HTML): sel
.select {
	min-width: 0;
	position: relative;
	// .select__body
	&__body {
		position: relative;
	}
	// .select__title
	&__title {
		width: 100%;
		color: inherit;
		cursor: pointer;
		text-align: left;
		font-size: 16px;
		border-radius: 8px;
		border: 1px solid #cbd6e2;
		background-color: $grayColor;
		box-shadow:
			rgba(0, 0, 0, 0.08) 0px 0px 5px 0px,
			rgba(0, 0, 0, 0.08) 0px 0px 1px 0px;
		._select-open & {
			border-radius: 8px 8px 0px 0px;
			box-shadow: none;
		}
	}
	// .select__value
	&__value {
		min-width: 0;
		display: flex;
		gap: toRem(10);
		height: toRem(45);
		align-items: center;
		padding: 0 toRem(15);
		> * {
			flex: 1 1 auto;
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			right: 10px;
			top: 50%;
			background-color: #000;
			height: 2px;
			width: 10px;
			transition: transform 0.5s ease 0s;
		}
		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}
		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}
		._select-open & {
			&::before {
				transform: translateX(-75%) rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}
	// .select__content
	&__content {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		color: #000;
		overflow: hidden;
		position: absolute;
		top: calc(100% - toRem(1));
		border-radius: 0 0 8px 8px;
		min-width: 100%;
		left: 0;
		background-color: $grayColor;
		border-top: 0;
		border: 1px solid #d9d9d9;
		border-top: 0;
		padding-left: toRem(5);
		padding-bottom: toRem(5);
	}
	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальна висота
		max-height: toRem(200);
		margin-right: toRem(5);
		padding-right: toRem(5);
		&::-webkit-scrollbar {
			width: 5px;
			background-color: #fff;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $blueColor;
		}
		// Стилі скроллбару
		.simplebar-scrollbar {
			&::before {
				// opacity: 1;
			}
		}
	}
	// .select__option
	&__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: 12px 10px;
		color: inherit;
		font-size: 16px;
		border-radius: toRem(4);
		transition: background-color 0.3s;
		&._select-selected {
			background-color: #eee;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: rgba($blueColor, 0.15);
			}
		}
	}
	// Конструкція додаткових даних
	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
	}
	&__text {
	}
	&--show-top {
		/*
		.select__options {
			top: auto;
			bottom: calc(100% - toRem(1));
			border: 1px solid #d9d9d9;
			border-bottom: 0;
			border-radius: 8px 8px 0 0;
		}
		*/
	}

	// Стан селекту
	&._select-open {
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}
// Тег
._select-tag {
	cursor: pointer;
}
