//========================================================================================================================================================
// Заголовки, загальні БЕМ блоки та інше...
//========================================================================================================================================================
::-webkit-scrollbar {
	width: toRem(1);
	border-radius: toRem(10);
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: toRem(10);
}
::selection {
	background-color: rgba(#a60101, 0.5);
}
summary {
	list-style: none;
	&::marker {
		display: none;
	}
}
@supports (-webkit-appearance: none) {
	summary::-webkit-details-marker {
		display: none;
	}
}
//========================================================================================================================================================
// Search
.search {
	display: flex;
	position: relative;
	align-items: center;
	// .search__label
	&__label {
		right: 0;
		width: 0;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		visibility: hidden;
		border: 1px solid #222;
		border-radius: toRem(3);
		transition:
			opacity 0.3s,
			width 0.3s,
			visibility 0.3s;
		input {
			width: 100%;
			outline: none;
			min-height: toRem(32);
			padding-left: toRem(10);
			padding-right: toRem(35);
			background-color: #fff;
			&::placeholder {
				transition: opacity 0.3s;
			}
			&:focus {
				&::placeholder {
					opacity: 0;
				}
			}
		}
		@media (min-width: $mobile) {
			&.search-label {
				opacity: 1;
				width: toRem(190);
				visibility: visible;
			}
		}
		@media (max-width: $mobile) {
			opacity: 1;
			width: 100%;
			border: none;
			position: relative;
			visibility: visible;
			input {
				padding-right: toRem(15);
			}
		}
	}
	// .search__button
	&__button {
		display: flex;
		width: toRem(32);
		height: toRem(32);
		position: relative;
		align-items: center;
		justify-content: center;
		border-radius: toRem(3);
		transition: background-color 0.3s;
		svg {
			path {
				transition: stroke 0.3s;
			}
		}
		&.icon-menu {
			&::before,
			&::after {
				display: none;
			}
		}
		@media (min-width: $mobile) {
			svg {
				width: toRem(18);
			}
			@media (any-hover: hover) {
				&:hover {
					background-color: rgba($orangeColor, 1);
					svg {
						path {
							stroke: #fff;
						}
					}
				}
			}
			&.search-button {
				background-color: rgba($orangeColor, 1);
				svg {
					path {
						stroke: #fff;
					}
				}
			}
		}
	}
}
// Heading
.heading {
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 55, 25);
	}
	// .heading--center
	&--center {
		text-align: center;
		.heading__text {
			margin: 0 auto;
		}
	}
	// .heading__title
	&__title {
		color: #000;
		font-weight: 700;
		line-height: 125%;
		letter-spacing: -0.01em;
		@include adaptiveValue("font-size", 58, 26);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 18, 8);
		}
	}
	// .heading__text
	&__text {
		color: #000;
		line-height: 177%;
		max-width: toRem(620);
		letter-spacing: 0.02em;
		@include adaptiveValue("font-size", 14, 12);
	}
	// .heading__subtitle
	&__subtitle {
		line-height: 130%;
		letter-spacing: -0.02em;
		@include adaptiveValue("font-size", 25, 16);
		@include adaptiveValue("margin-top", -10, 0);
	}
}
// Title
.title {
	font-weight: 700;
	line-height: 115%;
	@include adaptiveValue("font-size", 35, 18);
	&--mb {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 15);
		}
	}
}
// Image
.img {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform 0.3s;
	}
	&--brshad {
		overflow: hidden;
		@include adaptiveValue("border-radius", 15, 8);
		box-shadow:
			rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
			rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.05);
				}
			}
		}
	}
}
// Slider Atributes
.controls {
	// .controls__arrow
	&__arrow {
		display: flex;
		width: toRem(45);
		height: toRem(45);
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		transition: background-color 0.3s;
		background-color: rgba(#333333, 0.75);
		svg {
			width: toRem(30);
			path {
				fill: #fff;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: $blueColor;
			}
		}
	}
}
.dott {
	display: flex;
	flex-wrap: wrap;
	row-gap: toRem(5);
	align-items: center;
	column-gap: toRem(10);
	justify-content: center;
	.swiper-pagination-bullet {
		cursor: pointer;
		width: toRem(60);
		height: toRem(8);
		background-color: #ccc;
		border-radius: toRem(10);
		transition: background-color 0.3s;
		@media (max-width: $mobile) {
			width: toRem(40);
			height: toRem(6);
		}
	}
	.swiper-pagination-bullet-active {
		background-color: #0066b3;
	}
}
// Breadcrumbs
.breadcrumbs {
	@include adaptiveValue("margin-top", 25, 20);
	@include adaptiveValue("margin-bottom", 25, 20);
	// .breadcrumbs__container
	&__container {
	}
	// .breadcrumbs__list
	&__list {
		display: flex;
		gap: toRem(8);
		flex-wrap: wrap;
	}
	// .breadcrumbs__item
	&__item {
		display: flex;
		gap: toRem(8);
		font-weight: 700;
		align-items: center;
		@include adaptiveValue("font-size", 16, 14);
		&:not(:last-child) {
			&::after {
				content: "";
				width: toRem(5);
				height: toRem(5);
				border-radius: 50%;
				background-color: $blueColor;
			}
		}
	}
	// .breadcrumbs__link
	&__link {
		color: $blueColor;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .breadcrumbs__current
	&__current {
	}
}
// Paragraph
.paragraph {
	display: grid;
	@include adaptiveValue("row-gap", 25, 17);
	// .paragraph__block
	&__block {
		display: grid;
		justify-items: start;
		@include adaptiveValue("row-gap", 15, 8);
		h4 {
			font-weight: 700;
			line-height: 125%;
			@include adaptiveValue("font-size", 30, 16);
		}
		h5 {
			font-weight: 500;
			line-height: 115%;
			@include adaptiveValue("font-size", 25, 14);
		}
		p {
			line-height: 135%;
			@include adaptiveValue("font-size", 19, 12);
			a {
				color: $blueColor;
				@media (any-hover: hover) {
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		ul,
		ol {
			display: grid;
			gap: toRem(8);
			padding-left: toRem(20);
			li {
				line-height: 135%;
				@include adaptiveValue("font-size", 16, 12);
				span {
					font-weight: 700;
				}
				a {
					color: $blueColor;
					@media (any-hover: hover) {
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
		ul {
			li {
				list-style: disc;
			}
		}
		strong {
			line-height: 135%;
			@include adaptiveValue("font-size", 19, 12);
		}
	}
	// .paragraph__images
	&__images {
		display: grid;
		@include adaptiveValue("gap", 30, 10);
		@media (min-width: $mobile) {
			grid-template-columns: repeat(auto-fill, minmax(toRem(250), 1fr));
		}
		@media (max-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
// Articles
.articles {
	display: grid;
	@include adaptiveValue("gap", 30, 15);
	@media (min-width: $mobileSmall) {
		grid-template-columns: repeat(auto-fit, minmax(toRem(220), 1fr));
	}
	&--flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@include adaptiveValue("gap", 25, 15);
		.articles__item {
			max-width: toRem(235);
		}
	}
	// .articles__item
	&__item {
		padding: toRem(15);
		text-align: center;
		background-color: #f5f7fa;
		transition:
			background-color 0.3s,
			box-shadow 0.3s;
		border: 1px solid rgba(#333333, 0.75);
		box-shadow:
			rgba(0, 0, 0, 0.05) 0px 4px 6px -1px,
			rgba(0, 0, 0, 0.05) 0px 2px 4px -1px;
		@include adaptiveValue("border-radius", 14, 10);
		@media (any-hover: hover) {
			&:hover {
				background-color: rgba($blueColor, 0.85);
				box-shadow: rgba(38, 57, 77, 0.75) 0px 20px 30px -10px;
				.articles__title,
				.articles__text {
					color: #fff;
				}
			}
		}
	}
	// .articles__image
	&__image {
		overflow: hidden;
		border-radius: toRem(10);
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}
	// .articles__title
	&__title {
		font-weight: 700;
		line-height: 135%;
		transition: color 0.3s;
		@include adaptiveValue("font-size", 17, 14);
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .articles__text
	&__text {
		line-height: 125%;
		transition: color 0.3s;
		@include adaptiveValue("font-size", 17, 12);
	}
}
// Custom
.custom {
	display: grid;
	align-items: start;
	@include adaptiveValue("gap", 30, 20);
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 60, 40);
	}
	@media (min-width: $mobile) {
		grid-template-columns: 63.076923% auto;
	}
}
// Extra Padding
.extra-pb {
	@include adaptiveValue("padding-bottom", 80, 35);
}
// Video
.video {
	height: 0;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	padding-bottom: 56.25%; /* Соотношение 16:9 (9/16 * 100) */
	background-color: $mainColor;
	iframe {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
	}
}
// Elements
.elements {
	display: grid;
	@include adaptiveValue("gap", 40, 25);
	// .elements__item
	&__item {
		display: grid;
		align-items: center;
		transition: box-shadow 0.3s;
		background-color: $grayColor;
		border: 1px solid rgba(#ccc, 0.45);
		padding: toRem(15) toRem(15) toRem(15) toRem(30);
		box-shadow:
			rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
			rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
		@include adaptiveValue("gap", 30, 20);
		@include adaptiveValue("border-radius", 15, 8);
		@media (min-width: $mobile) {
			grid-template-columns: 63.076923% auto;
		}
		@media (any-hover: hover) {
			&:hover {
				box-shadow:
					rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
					rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
				.elements__image {
					img {
						transform: scale(1.05);
					}
				}
			}
		}
		@media (max-width: $tablet) {
			padding: toRem(15);
		}
	}
	// .elements__paragraph
	&__paragraph {
		padding: toRem(15) toRem(0);
		@media (max-width: $mobile) {
			padding: toRem(5) toRem(0);
		}
		&.paragraph {
			.paragraph__block {
				justify-items: start;
				@include adaptiveValue("row-gap", 20, 12);
			}
		}
	}
	// .elements__image
	&__image {
		height: 100%;
	}
}
