//========================================================================================================================================================
// Заголовки, загальні БЕМ блоки та інше...
//========================================================================================================================================================
::-webkit-scrollbar {
	width: toRem(1);
	border-radius: toRem(10);
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: toRem(10);
}
::selection {
	background-color: rgba(#a60101, 0.5);
}
summary {
	list-style: none;
	&::marker {
		display: none;
	}
}
@supports (-webkit-appearance: none) {
	summary::-webkit-details-marker {
		display: none;
	}
}
//========================================================================================================================================================
// Search
.search {
	display: flex;
	position: relative;
	align-items: center;
	// .search__label
	&__label {
		right: 0;
		width: 0;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		visibility: hidden;
		border: 1px solid #222;
		border-radius: toRem(3);
		transition:
			opacity 0.3s,
			width 0.3s,
			visibility 0.3s;
		input {
			width: 100%;
			outline: none;
			min-height: toRem(32);
			padding-left: toRem(10);
			padding-right: toRem(35);
			background-color: #fff;
			&::placeholder {
				transition: opacity 0.3s;
			}
			&:focus {
				&::placeholder {
					opacity: 0;
				}
			}
		}
		@media (min-width: $mobile) {
			&.search-label {
				opacity: 1;
				width: toRem(190);
				visibility: visible;
			}
		}
		@media (max-width: $mobile) {
			opacity: 1;
			width: 100%;
			border: none;
			position: relative;
			visibility: visible;
			input {
				padding-right: toRem(15);
			}
		}
	}
	// .search__button
	&__button {
		display: flex;
		width: toRem(32);
		height: toRem(32);
		position: relative;
		align-items: center;
		justify-content: center;
		border-radius: toRem(3);
		transition: background-color 0.3s;
		svg {
			path {
				transition: stroke 0.3s;
			}
		}
		&.icon-menu {
			&::before,
			&::after {
				display: none;
			}
		}
		@media (min-width: $mobile) {
			svg {
				width: toRem(18);
			}
			@media (any-hover: hover) {
				&:hover {
					background-color: rgba($orangeColor, 1);
					svg {
						path {
							stroke: #fff;
						}
					}
				}
			}
			&.search-button {
				background-color: rgba($orangeColor, 1);
				svg {
					path {
						stroke: #fff;
					}
				}
			}
		}
	}
}
// Heading
.heading {
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 55, 25);
	}
	// .heading--center
	&--center {
		text-align: center;
		.heading__text {
			margin: 0 auto;
		}
	}
	// .heading__title
	&__title {
		color: #000;
		font-weight: 700;
		line-height: 125%;
		letter-spacing: -0.01em;
		@include adaptiveValue("font-size", 58, 26);
		&:not(:last-child) {
			margin-bottom: toRem(18);
			@include adaptiveValue("margin-bottom", 18, 8);
		}
	}
	// .heading__text
	&__text {
		color: #000;
		line-height: 177%;
		max-width: toRem(620);
		letter-spacing: 0.02em;
		@include adaptiveValue("font-size", 14, 12);
	}
}
