// Product
.product {
	// .product__paragraph
	&__paragraph {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 55, 30);
		}
	}
}
// Detail
.detail {
	// .detail__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 15);
		}
	}
	// .detail__images
	&__images {
		display: grid;
		@include adaptiveValue("gap", 30, 15);
		@media (min-width: $mobileSmall) {
			grid-template-columns: repeat(auto-fill, minmax(toRem(320), 1fr)); // 220
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 45, 30);
		}
	}
	// .detail__button
	&__button {
		display: flex;
		justify-content: center;
	}
	// .detail__picture
	&__picture {
		overflow: hidden;
		img {
			transform: scale(1.03);
		}
	}
}
// Charact
.charact {
	@include adaptiveValue("padding-top", 80, 35);
	@include adaptiveValue("padding-bottom", 80, 35);
	// .charact__container
	&__container {
	}
	// .charact__title
	&__title {
		font-weight: 500;
		color: $orangeColor;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 20);
		}
	}
	// .charact__items
	&__items {
		display: grid;
		@include adaptiveValue("gap", 40, 20);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 45, 30);
		}
		@media (min-width: $mobileSmall) {
			grid-template-columns: repeat(auto-fill, minmax(toRem(350), 1fr));
		}
	}
	// .charact__item
	&__item {
	}
	// .charact__button
	&__button {
		display: flex;
		justify-content: center;
	}
}
.item-charact {
	// .item-charact__title
	&__title {
		font-weight: 600;
		@include adaptiveValue("font-size", 20, 16);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 15);
		}
	}
	// .item-charact__list
	&__list {
		display: grid;
		gap: toRem(8);
		line-height: 135%;
		padding-left: toRem(20);
		@include adaptiveValue("font-size", 16, 14);
		li {
			list-style: disc;
			a {
				font-weight: 700;
				color: $blueColor;
				@media (any-hover: hover) {
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		ul {
			display: grid;
			gap: toRem(8);
			padding-left: toRem(20);
			li {
				list-style: circle;
			}
		}
	}
}
// Paper
.paper {
	// .paper__title
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 25);
		}
	}
}
// About
.about {
	// .about__body
	&__body {
		&.custom {
			align-items: normal;
		}
	}
	// .about__image
	&__image {
		box-shadow:
			rgba(240, 46, 170, 0.4) 5px 5px,
			rgba(240, 46, 170, 0.3) 10px 10px,
			rgba(240, 46, 170, 0.2) 15px 15px,
			rgba(240, 46, 170, 0.1) 20px 20px,
			rgba(240, 46, 170, 0.05) 25px 25px;
	}
	// .about__articles
	&__articles {
		.articles__title {
			text-transform: uppercase;
		}
	}
}
// Garanty
.garanty {
	// .garanty__image
	&__image {
		box-shadow:
			rgba(240, 46, 170, 0.4) 5px 5px,
			rgba(240, 46, 170, 0.3) 10px 10px,
			rgba(240, 46, 170, 0.2) 15px 15px,
			rgba(240, 46, 170, 0.1) 20px 20px,
			rgba(240, 46, 170, 0.05) 25px 25px;
	}
}
// Usage
.usage {
	// .usage__paragraph
	&__paragraph {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 20);
		}
	}
}
// Electric
.electric {
	// .electric__paragraph
	&__paragraph {
		.paragraph__block {
			&.video {
				box-shadow:
					rgba(240, 46, 170, 0.4) -5px 5px,
					rgba(240, 46, 170, 0.3) -10px 10px,
					rgba(240, 46, 170, 0.2) -15px 15px,
					rgba(240, 46, 170, 0.1) -20px 20px,
					rgba(240, 46, 170, 0.05) -25px 25px;
				&:not(:last-child) {
					margin-bottom: toRem(15);
				}
			}
		}
	}
}
// Type
.type {
	// .type__paragraph
	&__paragraph {
		&:not(:last-child) {
			border-bottom: 1px solid rgba(#000, 0.34);
			@include adaptiveValue("margin-bottom", 40, 25);
			@include adaptiveValue("padding-bottom", 40, 25);
		}
	}
}
// Protect
.protect {
	// .protect__paragraph
	&__paragraph {
		.paragraph__block {
			&.video {
				box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
			}
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 80, 40);
		}
	}
}
// Manual
.manual {
	// .manual__elements
	&__elements {
		@include adaptiveValue("padding-top", 60, 35);
	}
	// .manual__content
	&__content {
		display: grid;
		align-items: start;
		@include adaptiveValue("gap", 30, 15);
		@include adaptiveValue("padding-top", 20, 10);
		@media (min-width: $mobile) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
// Resource
.resource {
	// .resource__title
	&__title {
		&.title--mb {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 50, 20);
			}
		}
	}
}
